<!DOCTYPE html>
<html ng-app="appName">

<head lang="en">
    <meta charset="UTF-8">
    <title>Angular bootstrap | So fresh</title>
    <link rel="stylesheet" href="../dist/styles.css">
</head>

<body ui-view>

    <nav>
        <!-- Show nav here -->
    </nav>

    <div ng-controller="MainCtrl">

        <div ui-view="FullContentView">
            <!-- Show content here -->
        </div>
    </div>

    <footer>
        <!-- Show footer here -->
    </footer>

    <script type="text/javascript" src="../dist/app.js"></script>
</body>

</html>